<!DOCTYPE html>
<html>

<head>
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
  <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <style>
    .sub-headings{
      font-size: 18px;
    }
    p{
      font-size: 18px;
    }
  </style>
</head>

<body>
  <div id="app">
    <v-app>
      <template>
        <v-container>
          <h1>Upgrade Account</h1>
          <p class="mt-2 mb-0 sub-headings"><b>Step 1: </b>Verify a Caller ID</p>
          <hr>
          <p class="text-lg-center mt-2">You've verified 1234567890</p>
          <p class="mt-2 mb-0 sub-headings"><b>Step 2: </b>Enter your Payment information</p>
          <hr>
          <v-layout row wrap>
            <v-flex lg3>
              <v-subheader v-text="'METHOD'"></v-subheader>
            </v-flex>
            <v-flex lg9>
              <v-radio-group row>
                <v-radio label="CREDIT CARD" value="Credit Card" ></v-radio>
                <v-radio label="PAYPAL" value="PayPal"></v-radio>
                <v-radio label="STRIPE" value="Stripe"></v-radio>
              </v-radio-group>
            </v-flex>
          </v-layout>
          <v-layout row>
            <v-flex lg8 offset-lg2>
              <v-card>
                <v-card-text row>
                  <v-layout row wrap>
                    <v-flex lg12>
                      <v-text-field
                        v-model="credit_card.number"
                        label="CREDIT CARD NUMBER"
                        placeholder="xxxx xxxx xxxx xxxx"
                      ></v-text-field>
                    </v-flex>
                    <v-flex lg2>
                      <v-text-field
                        v-model="credit_card.expire_month"
                        label="EXPIRES"
                        placeholder="MM"
                      ></v-text-field>
                    </v-flex>
                    <v-flex lg3 offset-lg1>
                      <v-text-field
                        v-model="credit_card.expire_year"
                        label=""
                        placeholder="YYYY"
                      ></v-text-field>
                    </v-flex>
                    <v-flex lg2 offset-lg1>
                      <v-text-field
                        v-model="credit_card.cvv"
                        label="CVV"
                         placeholder="***"
                      ></v-text-field>
                    </v-flex>
                    <v-flex lg12>
                      <v-text-field
                        v-model="credit_card.card_holder_name"
                        label="CARD HOLDER NAME"
                      ></v-text-field>
                    </v-flex>
                    <v-flex lg7>
                      <v-text-field
                        v-model="credit_card.street_address"
                        label="STREET ADDRESS"
                      ></v-text-field>
                    </v-flex>
                    <v-flex lg4 offset-lg1>
                      <v-text-field
                        v-model="credit_card.zip_code"
                        label="ZIP CODE"
                      ></v-text-field>
                    </v-flex>
                    <v-flex lg12>
                      <v-select
                        light
                        v-model="credit_card.country"
                        v-bind:items="country"
                        label="COUNTRY"
                        autocomplete
                      ></v-select>
                    </v-flex>
                    <v-flex lg7>
                      <v-text-field
                        v-model="credit_card.company_project_url"
                        label="COMPANY/PROJECT URL"
                      ></v-text-field>
                    </v-flex>
                    <v-flex lg4 offset-lg1>
                      <v-text-field
                        v-model="credit_card.phone_number"
                        label="PHONE NUMBER"
                      ></v-text-field>
                    </v-flex>
                  </v-layout>
                </v-card-text>
              </v-card>
            </v-flex>
          </v-layout>
          <br>
          <p class="mt-2 mb-0 sub-headings"><b>Step 3: </b>Add funds</p>
          <hr>
          <br>
          <v-layout row>
            <v-flex lg8 offset-lg2>
              <v-card>
                <v-card-text row>
                  <v-layout row wrap>
                    <v-flex lg12>
                      <v-select
                        light
                        v-bind:items="recharge"
                        label="AMOUNT TO ADD TO YOUR ACCOUNT NOW"
                        autocomplete
                      ></v-select>
                    </v-flex>
                  </v-layout>
                </v-card-text>
              </v-card>
            </v-flex>
          </v-layout>
          <br>
          <v-layout row>
            <v-flex lg8 offset-lg2>
              <v-card>
                <v-card-text row>
                  <v-layout row wrap>
                    <v-flex lg12>
                      <v-checkbox
                        label="Turn on automatic recharge"
                        v-model="checkbox"
                      ></v-checkbox>
                    </v-flex>
                  </v-layout>
                </v-card-text>
              </v-card>
            </v-flex>
          </v-layout>
          <br>
          <v-layout row>
            <v-flex lg4 offset-lg5>
              <v-btn color="info" style="align:center" @click="submit_details">Submit</v-btn>
            </v-flex>
          </v-layout>

        </v-container>
      </template>
    </v-app>
  </div>

  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script>
    new Vue({
      el: '#app',
      data() {
        return {
          al: null,
          checkbox:false,
          country: ['India','USA','England'],
          recharge: ["$10", "$20", "$30", "$40", "$50"],
          credit_card:{
            number:'',
            expire_month:'',
            expire_year:'',
            cvv:'',
            card_holder_name:'',
            street_address:'',
            zip_code:'',
            country: '',
            company_project_url:'',
            phone_number:''
          }
        }
      },
      methods:{
        submit_details:function(){
        }
      }
    })
  </script>
</body>

</html>
